body {
    font-family: Garamond, serif;
    background-image: url('bg1.jpg');
  }
  
  @media (min-aspect-ratio: 16/9) {
      .fullscreen-bg__video {
        width: 100%;
        height: auto;
      }
    }
    
  @media (max-aspect-ratio: 16/9) {
      .fullscreen-bg__video {
        width: auto;
        height: 100%;
      }
    }
  
  .navbar {
      position: relative;
  }
  .navbar-brand {
      position: absolute;
      left: 47%;
      margin-left: -50px !important;  /* 50% of your logo width */
      display: block;
  } 
  
  .nav-link {
    font-weight: bolder;
  }
  
  .navbar {
    background-color: white;
    color:  rgb(31, 26, 26);
  }
  
  .overlay {
    position:absolute;
    top:50%;
    left:5%;
    z-index:1;
  }
  
  #overlay-text {
    line-height: 34px;
    color: rgb(31, 26, 26); 
    font-weight: 900;
    font-size: 30px;
    font-variant-caps: petite-caps;
    /* background-color: rgb(32, 27, 27); */
    letter-spacing: -1px;
  }
  
  #overlay-button{
    background-color:rgb(31, 26, 26) ;
    color:white;
    width: 40%;
    height: 16%;
    font-size: 20px;
  }
  
  #home_heading {
    font-family: sans-serif;
    line-height: 34px;
    color: rgb(31, 26, 26); 
    font-weight: 800;
    font-size: 30px;
    font-variant-caps: petite-caps;
    /* background-color: rgb(32, 27, 27); */
    letter-spacing: -1px;
  }
  
  .top-buffer { margin-top:50px; }
  
  .home_boutiques {
    font-family: sans-serif;
    line-height: 34px;
    color: rgb(31, 26, 26); 
    font-weight: 700;
    font-size: 20px;
    font-variant-caps: petite-caps;
    /* background-color: rgb(32, 27, 27); */
    letter-spacing: -1px;
  }
  
  #home_description {
    color: rgb(31, 26, 26); 
    font-weight: 600;
    font-size: 18px ;
  }
  
  #span_description {
    color: rgb(31, 26, 26); 
    font-weight: bolder;
    font-size: 20px ;
    text-decoration: underline;
  }
  
  @import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
  section {
      padding: 60px 0;
  }
  
  section .section-title {
      text-align: center;
      color: white;
      margin-bottom: 50px;
      text-transform: uppercase;
  }
  #footer {
    background: white !important;
    border-top: 4px solid black;
    font-family: sans-serif;
  }
  #footer h5{
      padding-left: 10px;
    border-left: 3px solid black;
    padding-bottom: 6px;
    margin-bottom: 10px;
    color:black;
    font-variant-caps: petite-caps;
  }
  #footer a {
    color: black;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
  }
  #footer ul.social li{
      padding: 3px 0;
  }
  #footer ul.social li a i {
      margin-right: 5px;
      font-size:20px;
      -webkit-transition: .5s all ease;
      -moz-transition: .5s all ease;
      transition: .5s all ease;
  }
  #footer ul.social li:hover a i {
      font-size:25px;
      margin-top:-10px;
  }
  #footer ul.social li a,
  #footer ul.quick-links li a{
      color:black;
  }
  #footer ul.social li a:hover{
      color:black;
  }
  #footer ul.quick-links li{
      padding: 3px 0;
      -webkit-transition: .5s all ease;
      -moz-transition: .5s all ease;
      transition: .5s all ease;
  }
  #footer ul.quick-links li:hover{
      padding: 3px 0;
      margin-left:5px;
      font-weight:700;
  }
  #footer ul.quick-links li a i{
      margin-right: 5px;
  }
  #footer ul.quick-links li:hover a i {
      font-weight: 700;
  }
  
  @media (max-width:767px){
      #footer h5 {
      padding-left: 0;
      border-left: transparent;
      padding-bottom: 0px;
      margin-bottom: 10px;
  }
  }
  
  .navbar-nav ul li a{
      color:black;
  }
  
  @media all and (min-width: 992px) {
      .navbar .nav-item .dropdown-menu{ display: none; }
      .navbar .nav-item:hover .nav-link{ color: #fff;  }
      .navbar .nav-item:hover .dropdown-menu{ display: block; }
      .navbar .nav-item .dropdown-menu{ margin-top:0; }
  }

  
#login{
  width: 30%;
  margin-top: 3%; 
  margin-bottom: 5%;
  margin-left: 17%;
  background: #efefef;
  padding: 60px 120px 80px 120px;
  text-align: center;
  -webkit-box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
  box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
}
label {
  display: block;
  position: relative;
  margin: 40px 0px;
}
.label-txt {
  position: absolute;
  top: -1.6em;
  padding: 10px;
  font-family: sans-serif;
  font-size: .8em;
  letter-spacing: 1px;
  color: rgb(120,120,120);
  transition: ease .3s;
}
.input {
  width: 100%;
  padding: 10px;
  background: transparent;
  border: none;
  outline: none;
}

.line-box {
  position: relative;
  width: 100%;
  height: 2px;
  background: #BCBCBC;
}

.line {
  position: absolute;
  width: 0%;
  height: 2px;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  background: #242323;
  transition: ease .6s;
}

.input:focus + .line-box .line {
  width: 100%;
}

.label-active {
  top: -3em;
}

button {
  display: inline-block;
  padding: 12px 24px;
  background: rgb(220,220,220);
  font-weight: bold;
  color: rgb(120,120,120);
  border: none;
  outline: none;
  border-radius: 3px;
  cursor: pointer;
  transition: ease .3s;
}

button:hover {
  background:  #242323;
  color: #ffffff;
}

.reg_form {
  display: flex;
}

#signup {
  width: 30%;
  margin-top: 3%; 
  margin-bottom: 5%;
  margin-left: 5%;
  background: #efefef;
  padding: 60px 120px 80px 120px;
  text-align: center;
  -webkit-box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
  box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
} 

.signup_form{
  margin-top: 30%;
}

#register {
  width: 60%;
  margin-top: 3%; 
  margin-bottom: 5%;
  margin-left: 18%;
  background: #efefef;
  padding: 60px 120px 80px 120px;
  text-align: center;
  -webkit-box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
  box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
} 
.help-block {
  color: red;
}